Flask==1.1.1
Jinja2==2.10.3
gunicorn==19.9.0
MarkupSafe==1.1.1
Werkzeug==0.15.5
nltk==3.4.5
pandas>=0.25.3
requests==2.25.1
scikit-learn==0.24.2
pandas>=0.19
numpy>=1.19.5
pickleshare==0.7.5
chardet==3.0.4
sklearn==0.0
